<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove emp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container" div>
    <h1>Remove an employee</h1>
    <hr>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose Employee to be removed
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for emp in emps %}
          <li></li><a class="dropdown-item" href="/remove_emp/{{emp.id}}">{{emp.first_name}}</a></li>
            {% endfor %}
            </ul>
        </div>
      </div>
    
    
</body>
</html>

<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove emp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Remove an employee</h1>
        <hr>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Employee to be removed
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for emp in emps %}
                    <li><a class="dropdown-item" href="#">{{ emp.first_name }} {{emp.last_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    Bootstrap JS and Popper.js -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgydK7RknFV7+8WyI1Q5tqzUJMaayT0rxYUEAJFjJDO+eZzZq5TM32Etqz" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            // Initialize Bootstrap components
            $('[data-toggle="dropdown"]').dropdown();
        });
    </script>
    
</body>
</html> -->
